.card-body {
  padding: 0 !important;
}
.card img {
  border: solid 3px lightgray;
}
.turn-on {
  color: green !important;
}
.turn-off {
  color: red !important;
}
.pointable {
  cursor: pointer;
}
.location {
  font-size: 1.2rem;
}
a.email {
  color: #e0e0e0;
  font-weight: bold;
}
a:hover {
  color: #232b2b;
  background: #e0e0e0;
}

.card-title {
  font-size:1.2rem;
}
.btn {
  font-size: .75rem;
}
footer {
  padding-left:5px;
}

.present {
  padding-right: 5px;
}
.main-project {
  margin-bottom: 20px;
}

